<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang giới thiệu - Django App</title>
  </head>
  <body>
    <h3>Hello World!</h3>
    <p>
      Xem thông tin ở đây cho nhanh (lười design trang about quá):
      <a href="https://github.com/TrHgTung/" target="_blank"
        >TrHgTung (GitHub)</a
      >
    </p>
    <p>
      Jira Neko Team:
      <a
        href="https://quytrinhagilescrum.atlassian.net/jira/software/projects/NEKO/boards/4/backlog"
        target="_blank"
        >Scrum Backlog (updating)</a
      >
    </p>
    <img src="images/demo.jpg" alt="" />
  </body>
</html>
